
.titulo-logo img {
    width: 200px;
    filter: drop-shadow(0 0 10px #ff4500);
}

section img {
    width: 100%;
    max-width: 450px;
    margin-top: 20px;
    transition: 0.4s;
}

section img:hover {
    transform: scale(1.08);
}
