
/* ===============================
   1. RESET GENERAL
================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===============================
   2. BODY - Estilo MTB oscuro y agresivo
================================== */
body {
    font-family: 'Impact', 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #eee;
    min-height: 100vh;
}

/* ===============================
   3. HEADER
================================== */
header {
    background: #0ea013;
    padding: 30px;
    text-align: center;
    border-bottom: 4px solid #00ff59;
}

header h1 {
    font-size: 2.5rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* ===============================
   4. NAV
================================== */
nav {
    margin-top: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 25px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff4500;
}

/* ===============================
   5. MAIN
================================== */
main {
    padding: 60px 10%;
}

/* ===============================
   6. SECCIONES ESTILO TARJETA MTB
================================== */
section {
    background: #1f1f1f;
    padding: 30px;
    border-left: 6px solid #ff4500;
    margin-bottom: 40px;
    box-shadow: 0 10px 25px rgba(136, 136, 136, 0.6);
    transition: 0.3s;
}

section:hover {
    transform: scale(1.02);
}

/* ===============================
   7. FOOTER
================================== */
footer {
    background: #000;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #ff4500;
}

/* ===============================
   8. RESPONSIVE
================================== */
@media (max-width: 768px) {
    main {
        padding: 30px 5%;
    }

    .contenedor {
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
