
.titulo-logo img {
    width: 220px;
}

section img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 12px;
    transition: 0.4s;
}

section img:hover {
    transform: scale(1.05);
}
