body{margin:0;font-family:Arial;background:#f4f4f4;}
header{background:#111;color:#fff;padding:15px;text-align:center;}
nav a{color:#fff;margin:0 10px;text-decoration:none;}
main{padding:20px;}
footer{text-align:center;background:#ddd;padding:10px;}
